@import "tailwindcss";

:root {
  --primary-dark-500: #171717;
  --primary-dark-300: #262626;
  --primary-dark-100: #1F1F1F;
  --primary-green-300: #00FF9D;
  --primary-yellow-500: #F8B607;
  --primary-orange-500: #ff9000;
  --primary-light-100: #ffffff;
  --primary-light-500: #A1A1A1;
}
body {
  font-family:'Inter',sans-serif;
}
h1,h2,h3{
  font-family:'Poppins',sans-serif;
}
